<body class="body">
  <div class="layer">
    <div class="content ">
      <p class="text-small">تحت رعاية معالي وزير الشؤون البلدية والقروية والإسكان</p>
      <p class="text-large">الأستاذ ماجد بن عبدالله الحقيل</p>
      <p class="text-small">وبحضور سعادة أمين منطقة حائل</p>
      <p class="text-large">المهندس سلطان بن حامد الزايدي</p>
      <p class="text-medium">تطلق أمانة منطقة حائل مبنى "إتمام" الذكي كنموذج مبتكر لإدارة المباني</p>
      <p class="text-medium">والمرافق بتقنيات حديثة تعزز كفاءة الإنفاق</p>
      <p class="text-medium">وتطور إدارة الأصول، وترتقي بجودة العمليات والتخطيط والسلامة والتواصل</p>
      <p class="text-medium">لضمان بيئة آمنة وفعّالة وخدمات بلدية متميزة تحقق جودة الحياة</p>
    </div>

    <button (click)="clik()"
      class="my-button">
      <span class="m-auto pb-10 text-3xl">تدشين</span>
    </button>
  </div>
</body>