<body
  class="h-dvh w-dvw bg-[url('/images/Rami.png')] bg-cover bg-no-repeat"
>
  <div
    *ngIf="!vidPlaying"
    class="h-[100vh] w-dvw overflow-hidden overscroll-none flex flex-col"
  >
    <div class="flex">
      <div
        class="flex mt-2 flex-col mx-2 font-extrabold text-center text-black items-center text-xl gap-10"
      >
        <img
          style="
            height: 70px;
            justify-self: start;
            margin-right: auto;
            margin-top: 20px;
            margin-left: 20px;
          "
          src="./images/Group 2260 (8).svg"
        />
        <div class="ml-20 flex flex-col gap-4">
          <img src="./images/مخيمات حائل.svg">
          <!-- <p class="text-green-600 text-2xl">
            برعاية معالي وزير البلديات والاسكان
          </p>
          <p class="text-4xl text-green-900">
            الاستاذ / ماجد بن عبد الله الحقيل
          </p>
          <p class="text-white">{{ title() }}</p>
          <button
            (click)="clik()"
            class="rounded-full mx-auto mt-1 bg-[#0E3434] h-[100px] w-[100px]"
          >
            <span class="m-auto pb-10 text-white">اطلاق</span>
          </button> -->
        </div>
      </div>
      <div class="flex mt-5 mx-auto pr-[25%] h-[100px] gap-12">
        <style>
          img {
            height: 80px;
          }
        </style>
        <img src="./images/Group 1171276172.svg" /> 
      </div>
    </div>

    
    <div class="flex flex-col mt-auto mb-[8%] ml-auto mr-[10%] items-center justify-items-center"> 
      
      <img class=" " style="height: 150px;" src="./images/Group 1171276173.svg" /> 
      <div  (click)="clik()"
            class="relative mt-10 cursor-pointer" style="height: 150px;">
        
      <img class="mx-auto" style="height: 150px;" src="./images/Asset 1 2.png" />
      <img class=" m-auto absolute left-0 right-0  top-0 bottom-0 " style="height: 40px;" src="./images/إطلاق.png" />
      </div>
    </div>
  </div>
  <video
    class="h-[100vh] w-full object-fill"
    *ngIf="vidPlaying"
    autoplay
    muted
    loop
    id="myVideo"
  >
    <source src="video/مخيمات حائل الشتوية.mp4" type="video/mp4" />
  </video>
</body>
